.Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem 4rem;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 4px rgba(4, 62, 177, 0.438);

  @media (max-width: 600px) {
    border: none;
    box-shadow: none;
    width: 100%;
    padding: 2rem 0rem;
  }
}

.FormHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;

  @media (max-width: 600px) {
    flex-direction: column;
    text-align: center;
  }
}

.FormGroup {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;

  input {
    width: 100%;
    padding: 0.8rem;
    border: 0.063rem solid #005695;
    border-radius: 0.5rem;
    background-color: #fff;

    &:focus-visible {
      border-color: #005695;
      outline: 0.094rem solid #005695;
    }
  }
}

.FormButton {
  button {
    all: unset;
    padding: 0.8rem 2.8rem;
    font-size: 0.9rem;
    color: #fff;
    background-color: #005695;
    border-radius: 0.625rem;
    transition: all 0.1s ease-in-out;
    &:hover {
      cursor: pointer;
      background-color: #004a7f;
    }
    &:active {
      transform: scale(0.92);
    }
  }
}
