.containerHome{
    width: 90%;
    padding: 3rem 0;
    margin-bottom: 4rem;
   
    h2{
        font-weight: 500;
        font-size: 1.9rem;
        color: #005695;
        line-height: 3.026rem;
    }
}

.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1500px;
    gap: 1.5rem;
    margin-top: 2.5rem;
}